<a href="https://colab.research.google.com/github/imenchbili03082004-cmd/projetML_classification_phones/blob/main/phones_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv('phones_data.csv')
df.head()

,Unnamed: 0,brand_name,model_name,os,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size,release_date
0,0,ALCATEL,1 1/8GB Bluish Black (5033D-2JALUAA),Android,422,1690.0,1529.0,1819.0,36,5.00,8.0,2000.0,10-2020
1,1,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,323,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
2,2,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,299,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
3,3,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,287,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
4,4,Nokia,1.3 1/16GB Charcoal,Android,1047,1999.0,NaN,NaN,10,5.71,16.0,3000.0,4-2020

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1224 entries, 0 to 1223
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1224 non-null   int64
 1   brand_name      1224 non-null   object
 2   model_name      1224 non-null   object
 3   os              1027 non-null   object
 4   popularity      1224 non-null   int64
 5   best_price      1224 non-null   float64
 6   lowest_price    964 non-null    float64
 7   highest_price   964 non-null    float64
 8   sellers_amount  1224 non-null   int64
 9   screen_size     1222 non-null   float64
 10  memory_size     1112 non-null   float64
 11  battery_size    1214 non-null   float64
 12  release_date    1224 non-null   object
dtypes: float64(6), int64(3), object(4)
memory usage: 124.4+ KB

In [6]:
print("colonnes du dataset:",df.columns.to_list())

colonnes du dataset: ['Unnamed: 0', 'brand_name', 'model_name', 'os', 'popularity', 'best_price', 'lowest_price', 'highest_price', 'sellers_amount', 'screen_size', 'memory_size', 'battery_size', 'release_date']

In [7]:
df.shape[1]

13

In [8]:
df.shape[0]

1224

In [9]:
df.describe()

,Unnamed: 0,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size
count,1224.000000,1224.000000,1224.000000,964.000000,964.000000,1224.000000,1222.000000,1112.000000,1214.000000
mean,611.500000,612.500000,7941.206699,7716.018672,9883.410788,16.743464,5.394378,95.700059,3608.201812
std,353.482673,353.482673,8891.836260,8560.959059,11514.936818,20.597006,1.476991,111.922576,1668.268774
min,0.000000,1.000000,214.000000,198.000000,229.000000,1.000000,1.400000,0.003200,460.000000
25%,305.750000,306.750000,2599.750000,2399.000000,2887.000000,2.000000,5.162500,32.000000,2900.000000
50%,611.500000,612.500000,4728.000000,4574.000000,5325.500000,8.000000,6.000000,64.000000,3687.000000
75%,917.250000,918.250000,9323.000000,9262.250000,12673.750000,26.000000,6.400000,128.000000,4400.000000
max,1223.000000,1224.000000,56082.000000,49999.000000,69999.000000,125.000000,8.100000,1000.000000,18800.000000

In [10]:
df["brand_name"].unique()

array(['ALCATEL', 'Nokia', 'Honor', 'Meizu', 'realme', 'OnePlus',
       'Archos', 'Ulefone', 'AGM', 'OPPO', 'Astro', 'Rezone', 'Blackview',
       'Bravis', 'NUU', 'Lenovo', 'UMIDIGI', 'Assistant', 'Crosscall',
       'Sharp', 'ERGO', 'Tecno', 'CAT', 'DOOGEE', 'Xiaomi', 'ZTE',
       'Oukitel', 'Cubot', 'S-TELL', 'Sigma mobile', 'Coolpad', 'Bluboo',
       'LG', 'Motorola', 'Philips', '2E', 'Fly', 'Samsung', 'Prestigio',
       'myPhone', 'BlackBerry', 'KENEKSI', 'Maxcom', 'HUAWEI', 'Vernee',
       'General', 'Globex', 'Smartex', 'Google', 'ASUS', 'Land', 'MAFAM',
       'Jinga', 'Vodafone', 'Microsoft', 'iOutdoor', 'Elephone', 'HTC',
       'Viaan', 'vivo', 'Sony', 'LEAGOO', 'Nomi', 'Apple'], dtype=object)

In [11]:
df.isnull().sum()

Unnamed: 0          0
brand_name          0
model_name          0
os                197
popularity          0
best_price          0
lowest_price      260
highest_price     260
sellers_amount      0
screen_size         2
memory_size       112
battery_size       10
release_date        0
dtype: int64

In [12]:
df=df.drop_duplicates()

In [13]:
df.head()

,Unnamed: 0,brand_name,model_name,os,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size,release_date
0,0,ALCATEL,1 1/8GB Bluish Black (5033D-2JALUAA),Android,422,1690.0,1529.0,1819.0,36,5.00,8.0,2000.0,10-2020
1,1,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,323,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
2,2,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,299,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
3,3,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,287,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
4,4,Nokia,1.3 1/16GB Charcoal,Android,1047,1999.0,NaN,NaN,10,5.71,16.0,3000.0,4-2020

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1224 entries, 0 to 1223
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1224 non-null   int64
 1   brand_name      1224 non-null   object
 2   model_name      1224 non-null   object
 3   os              1027 non-null   object
 4   popularity      1224 non-null   int64
 5   best_price      1224 non-null   float64
 6   lowest_price    964 non-null    float64
 7   highest_price   964 non-null    float64
 8   sellers_amount  1224 non-null   int64
 9   screen_size     1222 non-null   float64
 10  memory_size     1112 non-null   float64
 11  battery_size    1214 non-null   float64
 12  release_date    1224 non-null   object
dtypes: float64(6), int64(3), object(4)
memory usage: 124.4+ KB

In [18]:
df = df.drop(columns=["Unnamed: 0"])

KeyError: "['Unnamed: 0'] not found in axis"

In [19]:
df = df.dropna()

In [20]:
X = df[["screen_size", "memory_size", "battery_size",
        "sellers_amount", "popularity"]]

y = df["best_price"]

In [23]:
#separation des donnees
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [24]:
#fonction d'evaluation
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

def evaluate_model(model):
    y_pred = model.predict(X_test)

    mae = mean_absolute_error(y_test, y_pred)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    r2 = r2_score(y_test, y_pred)

    print("MAE :", mae)#la moyenne des erreurs absolues
    print("RMSE :", rmse)#Root Mean Squared Error, cest la racine carre du MSE
    print("R2 Score :", r2)#Coefficient de dtermination, Il mesure combien le modle explique la variance des donnes
    print("-" * 30)

In [25]:
#algorithme linear regression
#La rgression linaire est un modle simple qui suppose quil existe une relation linaire entre les variables explicatives et la variable cible. Elle cherche  ajuster une droite (ou un hyperplan) qui minimise lerreur entre les valeurs relles et prdites. Elle est rapide, facile  interprter et utilise comme modle de base (baseline), mais elle ne fonctionne pas bien si la relation entre les variables est complexe ou non linaire.
from sklearn.linear_model import LinearRegression

model_lr = LinearRegression()
model_lr.fit(X_train, y_train)

print("Linear Regression")
evaluate_model(model_lr)

Linear Regression
MAE : 4234.546438665205
RMSE : 6649.987469654526
R2 Score : 0.4243138565281458
------------------------------

In [26]:
#algorithme ridge regression
#La rgression Ridge est une extension de la rgression linaire qui ajoute une pnalisation (L2) sur les coefficients du modle afin de rduire leur taille. Cette rgularisation permet de limiter le sur-apprentissage (overfitting) et damliorer la stabilit du modle, surtout lorsquil y a beaucoup de variables ou une forte corrlation entre elles
from sklearn.linear_model import Ridge

model_ridge = Ridge(alpha=1.0)
model_ridge.fit(X_train, y_train)

print("Ridge Regression")
evaluate_model(model_ridge)

Ridge Regression
MAE : 4232.425867386938
RMSE : 6650.736776358344
R2 Score : 0.4241841149936696
------------------------------

In [27]:
#algorithme lasso regression
#La rgression Lasso est similaire  Ridge mais utilise une pnalisation L1. Elle a la particularit de pouvoir rduire certains coefficients  zro, ce qui permet de faire une slection automatique des variables. Elle est particulirement utile lorsque le dataset contient de nombreuses variables et que certaines ne sont pas pertinentes.
from sklearn.linear_model import Lasso

model_lasso = Lasso(alpha=0.1)
model_lasso.fit(X_train, y_train)

print("Lasso Regression")
evaluate_model(model_lasso)

Lasso Regression
MAE : 4234.48946676106
RMSE : 6650.0070777865585
R2 Score : 0.4243104615904548
------------------------------

In [28]:
#algorithme decision tree regression
#Larbre de dcision en rgression divise les donnes en plusieurs sous-groupes en utilisant des rgles de dcision successives. Il peut modliser des relations non linaires et complexes entre les variables. Il est facile  comprendre et  visualiser, mais il peut facilement sur-apprendre si larbre devient trop profond.
from sklearn.tree import DecisionTreeRegressor

model_tree = DecisionTreeRegressor(random_state=42)
model_tree.fit(X_train, y_train)

print("Decision Tree")
evaluate_model(model_tree)

Decision Tree
MAE : 2950.9102564102564
RMSE : 4833.80857831533
R2 Score : 0.6958253489346042
------------------------------

In [29]:
#algorithme random forest regressor
#La fort alatoire est un ensemble de plusieurs arbres de dcision combins. Chaque arbre est entran sur une partie diffrente des donnes, et la prdiction finale est la moyenne des prdictions des arbres. Cette mthode amliore la prcision et rduit le risque de sur-apprentissage. Elle est trs utilise en pratique pour les donnes tabulaires.
from sklearn.ensemble import RandomForestRegressor

model_rf = RandomForestRegressor(
    n_estimators=100,
    random_state=42
)

model_rf.fit(X_train, y_train)

print("Random Forest")
evaluate_model(model_rf)

Random Forest
MAE : 2494.6672435897435
RMSE : 3820.4674909234877
R2 Score : 0.8099897018494896
------------------------------

In [30]:
#algorithme gradient boosting
#Le Gradient Boosting est une mthode densemble qui construit les modles squentiellement. Chaque nouveau modle corrige les erreurs du prcdent afin damliorer progressivement la performance. Des versions avances comme XGBoost ou LightGBM sont trs performantes et largement utilises dans les comptitions et projets industriels, mais elles sont plus complexes  paramtrer.
from sklearn.ensemble import GradientBoostingRegressor

model_gb = GradientBoostingRegressor(
    n_estimators=100,
    learning_rate=0.1,
    random_state=42
)

model_gb.fit(X_train, y_train)

print("Gradient Boosting")
evaluate_model(model_gb)

Gradient Boosting
MAE : 2700.9396151530673
RMSE : 4066.452636599032
R2 Score : 0.784733941546107
------------------------------

In [31]:
#algorithme xgboost
from xgboost import XGBRegressor

model_xgb = XGBRegressor(
    n_estimators=100,
    learning_rate=0.1,
    random_state=42
)

model_xgb.fit(X_train, y_train)

print("XGBoost")
evaluate_model(model_xgb)

XGBoost
MAE : 2419.69863089537
RMSE : 3909.028652956487
R2 Score : 0.8010784521395486
------------------------------